h1{
	color: white;
	background-color: black;
	font-family: "moon flower";
	font-size: 72pt;
	margin: 20px;
	padding: 40px;
}

h2{
	font-family: "moon flower";
	font-size: 54pt;
	margin: 20px;
	padding: 40px;
}

h3{
	color: white;
	background-color: black;
	font-family: "moon flower";
	font-size: 36pt;
	margin: 20px;
	padding: 40px;
}

h4{
	font-family: "moon flower";
	font-size: 24pt;
	margin: 20px;
 	padding: 40px;
}

h5{
	color: white;
	background-color: black;
	font-family: "moon flower";
	font-size: 16pt;
	margin: 20px;
	padding: 40px;
}

h6{
	font-family: "moon flower";
	font-size: 5pt;
	margin: 20px;
	padding: 40px;
}