body{
    background-image:url(sky.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-family: "moon flower";
	font-size: 72pt;
	margin: 20px;
	padding: 40px;
	text-align: center;
}

h2{
	font-family: "moon flower";
	font-size: 54pt;
	margin: 20px;
	padding: 40px;
	text-align: center;
}

h3{
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-family: "moon flower";
	font-size: 36pt;
	margin: 20px;
	padding: 40px;
	text-align: center;
}

h4{
	font-family: "moon flower";
	font-size: 24pt;
	margin: 20px;
 	padding: 40px;
	text-align: center;
}

h5{
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-family: "moon flower";
	font-size: 16pt;
	margin: 20px;
	padding: 40px;
	text-align: center;
}

h6{
	font-family: "moon flower";
	font-size: 5pt;
	margin: 20px;
	padding: 40px;
	text-align: center;
}