body {
    background-color: whitesmoke;
}

.quote {
    text-align: center;
    font-family: "Amatic SC";
    color: white;
    font-size: 48pt;
    background-color: rgba(0,0,0,0.5);  
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    padding: 10%;
}

.menu {
    background-color: rgba(0,0,0,0.5);
    font-family: "Amatic SC";
    font-size: 32pt;
    text-align: center;
    margin: 2%;
    color: white;
    padding: .5%;
    padding-bottom: .7%;
}

.menu a:link{
    color:white;
}

.menu a:visited{
    color:aliceblue;
}

.section {
    background-color: rgba(0,0,0,0.5);
    margin: 2%;
}

.section h1 {
    font-size: 48pt;
    font-family: "Amatic SC";
    color: white;
    text-align: center;
    margin-bottom: 1%;
    padding-top: 2%;
}

.section p {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    color: white;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: .5%;
    font-size: 24pt;
}

.section h2 {
    padding: 3%;
    color: white;
    padding-top: .5%;
    padding-bottom: 1%;
    margin: 1%;
    font-family: "Amatic SC";
    text-align: center;
    font-size: 30pt;
}

#projects a:link {
    color:white;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 24pt;
}

#projects a:visited {
    color:white;
}